@CHARSET "UTF-8";
 
/* Sticky footer styles
-------------------------------------------------- */
html, body {
  height: 100%;
}
body {
  padding-top: 50px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}